.sidebar-listing-wrapper {
  font-size: 16px;
  font-family: "GothamSSm-Light";
  display: flex;
  line-height: 45px;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: #000;
  height: 50px;
  padding: 5px;
  transition: ease-in all 0.3s;
  &:hover {
    color: #006BFF;
    background-color: #E6F7FF;
  }
}
.active {
  color: #006BFF;
  background-color: #E6F7FF;
}
