.sidebar-listing-wrapper {
  margin: 10px;
  font-size: 16px;
  font-family: "GothamSSm-Light";
  line-height: 2;
  .sidebar-listing-wrapper-button {
    padding: 10px;
  }
  .sidebar-listing-wrapper-tooltip {
    padding: 10px;
  }
}
