.sidebar-listing-wrapper {
  padding: 30px;
  font-size: 14px;
  font-family: "GothamSSm-Light";
  line-height: 1.5;
  .sidebar-listing-title {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.45);
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
  }
  a {
    text-decoration: none;
    outline: 0;
  }
  .sidebar-listing-items {
    line-height: 1.5;
    padding-top: 20px;
    font-size: 13px;
    color: #000;

    &:hover {
      color: #40a9ff;
    }
  font-size: 16px;
  font-family: "GothamSSm-Light";
  display: flex;
  line-height: 45px;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: #000;
  height: 50px;
  padding: 5px;
  transition: ease-in all 0.3s;
  &:hover {
    color: #006BFF;
    background-color: #E6F7FF;
  }
}
.active {
  color: #006BFF;
  background-color: #E6F7FF;
}
